@import "../../styles/main.scss";

.input-search-component.anticon {
    color: $color-grayLight;
    font-size: 24px;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        color: $color-dark;
        transition: all 0.3s ease-in-out;
    }
}

.default {
    border-radius: 3px !important;
    padding: 5px !important;

    .ant-input {
        background-color: inherit !important;
    }
}

.rounded {
    width: 50% !important;
    align-self: center;
    background-color: $color-grayLighter !important;
    border-radius: 50px !important;
    padding: 5px !important;
    overflow: hidden !important;
    margin: 0 25px;

    @include devices(mobile) {
        width: 100% !important;
        margin: 0;
    }

    .ant-input {
        background-color: inherit !important;
    }
}