@import "../../styles/main.scss";

.artwork {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &:hover {
        cursor: pointer;
    }
    
    
    &--overlay {
        border-bottom: 1px solid $color-grayLighter;
        padding: 10px;

        @include devices(tablet) {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            height: 100%;
            width: 100%;
            transition: all 0.3s ease;
            border-bottom: none;
        }

        
        &__hovered {
            opacity: 1;
            transition: all 0.3s ease;
        }

        &--meta {
            position: inherit;
            color: $color-dark;

            @include devices(tablet) {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 10px;
            }

            
            &__artist {
                font-weight: 600;
                font-size: 16px;

                @include devices(tablet) {
                    color: $color-light;
                    font-weight: 700;
                    font-size: 18px;
                }
            }

            &__title {

                @include devices(tablet) {
                    color: $color-light;
                }
            }
        }

    }


    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-repeat: no-repeat;
    }
}