// !Colors
$color-primary: #00ADB5;
$color-primaryLight: #66ced3;
$color-primaryLighter: #cceff0;
$color-light: #EEEEEE;
$color-dark: #111419;
$color-gray: #393e46;
$color-grayLight: #888b90;
$color-grayLighter: #d7d8da;