@import "../../styles/main.scss";

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    display: flex;
    background-color: $color-dark;
    padding: 0 20px;
    height: 10vh;

    @include devices(mobile) {
        padding: 25px;
        gap: 10px;
        transform-origin: top bottom left right;

        

        &.nav__menu--close {
            &::before {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                background-color: $color-light;
                transform: scaleX(0);
                transition: all 0.5s ease-in-out;
            }
        }

        &.nav__menu--open {
            &::before {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                background-color: $color-light;
                transform: scaleX(1);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

.link__wrapper {
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    scroll-behavior: smooth !important;

    @include devices(mobile) {
        display: none;
    }
}

.nav__tag {
    position: relative;
    width: 60%;
    display: flex;

    @include devices(mobile) {
        width: 20%;
        align-items: center;
        justify-content: center;
    }

    @include devices(tablet) {
        width: 50%;
    }

    &--hamburger {
        @include devices(tablet) {
            display: none;
        }
    }
}

.nav__btn {
    margin: 0 10px;
    position: absolute;
    top: 0;
    
    &--left {
        display: flex;
        align-items: center;

        
        @include devices(mobile) {
            display: none;
        }

        &__icon {
            cursor: pointer;
            padding: 10px;
            font-size: 20px;
            color: $color-grayLighter !important;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $color-primary !important;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    &--right {
        display: flex;
        align-items: center;

        
        @include devices(mobile) {
            display: none;
        }

        &__icon {
            cursor: pointer;
            padding: 10px;
            font-size: 20px;
            color: $color-grayLighter !important;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            color: $color-primary !important;
            transition: all 0.3s ease-in-out;
        }
    }
}


.navbar--link {
    align-self: stretch;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: $color-grayLighter;
    position: relative;
    display: flex;
    align-items: center;

    &__active {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 2px solid $color-primary;
        }
    }
}
