@import "../../styles/main.scss";

.artworks {

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
    }

    &__container {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @include devices(tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-dark;
        padding: 0 25px;
        text-align: center;
    }

    &__button {
        width: 90%;

        @include devices(tablet) {
            width: 15%;
        }
    }

    &__gallery--outer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include devices(tablet) {
            grid-column-gap: 24px;
            grid-row-gap: 24px;
            align-items: start;
            display: grid;
            grid-template-columns: repeat(3,minmax(0,400px));
            overflow: hidden;
        }
    }

    &__gallery--inner {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include devices(tablet) {
            display: grid;
            grid-template-columns: minmax(0,400px);
            row-gap: 24px;
            overflow: hidden;
        }
    }
}