@import "../../styles/main.scss";

.detail {
    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px ;
        padding-top: calc(10vh + 20px);

        @include devices(tablet) {
            padding: 40px;
            padding-top: calc(10vh + 40px);
        }
    }

    &__header {
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 20px;
            font-weight: 700;

            @include devices(tablet) {    
                font-size: 24px;
            }

            &--skeleton {
                &:nth-child(1) {
                    h3 {
                        height: 20px !important;

                        @include devices(tablet) {
                            height: 24px !important;
                        }
                    }
                }
            }
        }

        &__artist {    
            font-size: 16px;
            font-style: italic;

            &--skeleton {
                margin-top: 16px;

                &:nth-child(1) {

                    h3 {
                        height: 16px !important;

                        @include devices(tablet) {
                            height: 18px !important;
                        }
                    }
                }
            }
            

            @include devices(tablet) {
                font-size: 18px;
            }
        }
    }

    &__description {
        font-size: 14px;

        &--skeleton {
            &:nth-child(1) {
                h3 {
                    height: 14px !important;

                    @include devices(tablet) {
                        height: 18px !important;
                    }
                }
            }
        }

        @include devices(tablet) {    
            font-size: 18px;
            font-weight: 600;
        }
    }


    &__wrapper__image {
        width: 100%;
    }

    &__image {
        width: 100%;
        object-fit: contain;
        background-repeat: no-repeat;

        &:hover {
            cursor: zoom-in;
        }

        &--skeleton {
            .ant-skeleton-image {
                width: 100% !important;
                height: 50vh !important;
            }
        }
    }
}